.App {
  text-align: center;
    height: 100vh;
  width: 100vw;
}

body {
font-family: Arial, Helvetica, sans-serif;
 background: #f9dcc4;
/* background-color: blanchedalmond; */


}

.home {
  width: 100%;
  height: 100%;
  background: url("https://www.idgcdn.com.au/article/images/740x500/dimg/screenshot_2019-11-22_disney_movies_and_shows_1.png") no-repeat center center fixed;
   background-size: cover;
   color: rgb(246, 245, 243)
}

nav {
  /* position: fixed; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
   float: left;
  display: inline;
  color: black;
  text-align: center;
  padding: 10px ;
  text-decoration: none;
  font-size: 17px;
}

a {
  text-decoration: none;
}

.comment-body {
  border: 2px solid;
  margin: 5px;
}

.users{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #f9dcc4; */
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid grey;
  box-sizing: border-box;
  width: 600px;
  height: 400px;
  margin: 30px;
  padding: 30px;
  flex-direction: row-reverse;
}

@media (max-width:490px) {
  body {
    width: 100%;
    height: 100%
  }

  nav {
    display:inline-block;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
     overflow: hidden;
  }

  .show-image {
    width: 250px;
    height: 300px;
  }

  .home  {
     width: 100%;
  height: 100%;
  background: url("https://www.verizon.com/content/dam/verizon/personal/learn-images/MLP/watch-hbo-max/mob-all-of-hbo.png") no-repeat center center fixed;
   background-size: cover;
  }

  .avatar {
    width: 200px;
    height: 200px;

  }

  .user-profile h {
    width:80%;
  }

  .img {
    width: 250px;
    height: 300px;
  }
  .user {
    display:inline-block;
    width: 75%;
    height: 75%;
    justify-content: center;
    align-items: center;

  }
}
